body {
  background-image: url("https://images.unsplash.com/photo-1533237264985-ee62f6d342bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60");
}
#optionA,
#optionB,
#optionC,
#optionD {
  background-color: rgb(120, 190, 15);
  width: 250px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  border: 1px solid #1d3c6a;
  border-radius: 50px;
  margin: 10px 40px 10px 0px;
  padding: 10px 10px;
}

header {
  color: rgb(34, 206, 11);
}

title {
  color: rgb(34, 206, 11);
}
p {
  color: rgb(34, 206, 11);
}

h1 {
  color: rgb(34, 206, 11);
}

#startBtn {
  color: rgb(0, 0, 0);
  background-color: rgb(120, 190, 15);
  border-color: rgb(120, 190, 15);
  caret-color: rgb(120, 190, 15);
}
